/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: white;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "compass/css3/box-sizing";

* {
    @include box-sizing(border-box);
}

$primary: #778dac;
$width: 940px;
$height: 831px;

body {
    background: #333;
    font-family: 'Noto Serif', serif;
}

header, footer {
    position: fixed;
    width: 100%;
}

header {
    z-index: 1;
    padding-top: 10em;
}

header > h1, nav, footer .footer-inner ul {
    width: 940px;
    margin: auto;
}

$indent: 40px;

header > h1, nav {
    padding: 0 $width / 2 + 2 * $indent 0 2 * $indent;
}

header > h1 {
    font-size: 60px;
    line-height: 50px;
    text-indent: -$indent;
}

header > h1 a {
    text-decoration: none;
    color: white;

    &:hover {
        color: white;
    }
}

nav {
    margin: 2em auto;

    ul {
        margin: 0;
        padding: 0;
    }

    ul ul {
        margin: 0.2em 0;
        padding: 0 1em;
    }

    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: #222;
        }
    }
}

footer {
    background-color: $primary;
    background-image: url('../img/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    height: 100%;
    max-height: $height;
    z-index: 0;

    .footer-inner {
        position: absolute;
        width: 100%;
        height: 60px;
        background: #333;
        bottom: 0;
    }

    ul {
        padding: 0 $width / 2 + $indent 0 $indent;
    }

    li {
        float: left;
        list-style: none;
        height: 30px;
        margin: 15px;
        margin-right: 0;
        line-height: 30px;
    }
}

main {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 50%;
    background: rgba(0, 0, 0, 0.6);
    min-height: 100%;
}

.main-inner {
    max-width: $width / 2;
    padding: 2em;
    padding-top: 13em;
}

a {
    color: $primary;
    &:hover {
        color: #ccc;
        text-decoration: none;
    }
}

.gallery {
    @extend .clearfix;

    margin: 0;
    padding: 0;
    list-style: none;

    li {
        float: left;
        margin: 0.2em;
        padding: 0;
    }

    img {
        width: 100px;
        height: 100px;
    }
}

@media all and (max-width: 800px) {
    header, footer, main {
        position: relative;
        height: auto;
        max-height: none;
    }

    header > h1, nav, footer .footer-inner ul {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    header > h1, nav {
        max-width: 300px;
        padding: 0 2 * $indent 0 $indent;
    }

    header {
        padding-top: 2em;
    }

    main {
        width: 100%;

        .main-inner {
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }

    footer {
        background: none;

        .footer-inner {
            position: relative;
        }

        ul {
            padding: 0 1em;
        }
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
