<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Kirsten Jenson{% if page.title %} | {{ page.title }}{% endif %}</title>
        <meta name="description" content="Kirsten Jenson, Cellist">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ site.url }}/css/normalize.css">
        <link rel="stylesheet" href="{{ site.url }}/css/main.css">
        <link href="http://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
        <h1><a href="{{ site.url }}/">Kirsten Jenson</a></h1>
            <nav>
                <ul>
                    {% for p in site.pages %}
                        {% if p.title and p.title != 'Links' and p.title != 'Contact' %}
                    <li><a href="{{ p.url | remove:'/index.html' }}">{{ p.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li><a href="{{ site.url }}/contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        {% if page.title %}
        <main>
            <div class="main-inner">
                <h1>{{ page.title }}</h1>
                {{ content }}
            </div>
        </main>
        {% endif %}
        <footer>
            <div class="footer-inner">
                <ul>
                    <li><a href="https://www.facebook.com/pages/Kirsten-Jenson/101112206758624"><img src="{{ site.url }}/img/facebook_30x30.png" alt="facebook"></a></li>
                    <li><a href="{{ site.url }}/links">links</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
